<h1>Garages</h1>
<hr>
<li><a href='/garages/new'>New Garage</a></li><br/>


<% @garages.each do |garage| %> <br/>
  <p> <%= link_to "#{garage.name}", "/garages/#{garage.id}" %> 
    | created <%= garage.created_at.to_formatted_s(:long) %> </p>
<% end %>