<h1>Garages</h1>

<li><a href='/garages/new'>New Garage</a></li><br/>

<h3>Garages:</h3>

<% @garages.each do |garage| %> <br/>
  <li> <%= link_to "#{garage.name}", "/garages/#{garage.id}" %> </li>
<% end %>