<h1>Create New Garage</h1>

<form action = '/garages' method='post'>
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
<p>Name:</p>
  <input type = 'text' name='garage[name]'/><br/>
<p>Address:</p>
  <input type='text' name='garage[address]'/><br/>
<p>Spot Count:</p>
  <input type='number' name='garage[spot_count]'/><br/>
<p>Cost:</p>
  <input type='number' name='garage[cost]'/><br/>
<p>Multi-level:</p>
  <input type='radio' name='garage[multi_level]' value='true'>
    <label for="true">true</label><br>
  <input type='radio' name='garage[multi_level]' value='false'>
    <label for="false">false</label><br>
<input type='submit'/>
</form>